<mat-card class="board-card" [ngClass]="computeBoarderClass(board.priority)">
  <mat-card-header class="header-card">
    <mat-card-title>{{ board.title }}</mat-card-title>
    <div>
      <button
        mat-icon-button
        color="primary"
        aria-label="icon to update"
        (click)="editBoard()"
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="icon to delete "
        (click)="deleteBoard()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ board.body }}</p>
  </mat-card-content>
</mat-card>
