<div class="layout">
  <!-- tool bar -->
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="logoe">Responsive App</h1>

    <span class="example-spacer"></span>

    <button
      mat-icon-button
      color="accent"
      class="example-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>star</mat-icon>
    </button>

    <button
      mat-icon-button
      color="warn"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
  <!-- tool bar -->

  <mat-sidenav-container class="sidebar-container">
    <!-- sidebar -->
    <mat-sidenav #snav mode="side" class="sidnav-menu">
      <mat-nav-list>
        <a mat-list-item routerLink=".">board</a>
        <a mat-list-item routerLink=".">collection</a>
        <a mat-list-item routerLink=".">note</a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- sidebar -->
    <!-- content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- content -->
</div>

<!-- <div>Please open on Stackblitz to see result</div> -->
